
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-597183258823820099.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-597183258823820099.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-597183258823820099.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-597183258823820099.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-597183258823820099.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-597183258823820099.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-597183258823820099.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-597183258823820099.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-597183258823820099.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-597183258823820099.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-597183258823820099.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-597183258823820099.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-597183258823820099.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-597183258823820099.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-597183258823820099.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-597183258823820099.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-597183258823820099.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-597183258823820099.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-597183258823820099.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-597183258823820099.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-597183258823820099.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-597183258823820099.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-597183258823820099.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-597183258823820099.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-597183258823820099.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-597183258823820099.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-597183258823820099.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-597183258823820099.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-597183258823820099.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-597183258823820099.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-597183258823820099.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-597183258823820099.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-597183258823820099.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-597183258823820099.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-597183258823820099.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-597183258823820099.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-597183258823820099.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-597183258823820099.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-597183258823820099.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-597183258823820099.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-597183258823820099.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-597183258823820099.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-597183258823820099.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-597183258823820099.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-597183258823820099.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-597183258823820099.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-597183258823820099.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-597183258823820099.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-597183258823820099.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-597183258823820099.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-597183258823820099.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-597183258823820099.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-597183258823820099.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-597183258823820099.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-597183258823820099.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-597183258823820099.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bblr-tablet:"]:hover{border-bottom-left-radius:var(--hvr-bblr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--focus-bblr-tablet:"]:focus{border-bottom-left-radius:var(--focus-bblr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bbrr-tablet:"]:hover{border-bottom-right-radius:var(--hvr-bbrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--focus-bbrr-tablet:"]:focus{border-bottom-right-radius:var(--focus-bbrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btlr-tablet:"]:hover{border-top-left-radius:var(--hvr-btlr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--focus-btlr-tablet:"]:focus{border-top-left-radius:var(--focus-btlr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btrr-tablet:"]:hover{border-top-right-radius:var(--hvr-btrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--focus-btrr-tablet:"]:focus{border-top-right-radius:var(--focus-btrr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-597183258823820099.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-597183258823820099.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-597183258823820099.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-597183258823820099.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-597183258823820099.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-597183258823820099.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-597183258823820099.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-597183258823820099.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bblr-mobile:"]:hover{border-bottom-left-radius:var(--hvr-bblr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--focus-bblr-mobile:"]:focus{border-bottom-left-radius:var(--focus-bblr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--hvr-bbrr-mobile:"]:hover{border-bottom-right-radius:var(--hvr-bbrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--focus-bbrr-mobile:"]:focus{border-bottom-right-radius:var(--focus-bbrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btlr-mobile:"]:hover{border-top-left-radius:var(--hvr-btlr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--focus-btlr-mobile:"]:focus{border-top-left-radius:var(--focus-btlr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--hvr-btrr-mobile:"]:hover{border-top-right-radius:var(--hvr-btrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--focus-btrr-mobile:"]:focus{border-top-right-radius:var(--focus-btrr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-597183258823820099.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-597183258823820099.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-597183258823820099.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-597183258823820099.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-597183258823820099.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-597183258823820099.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-597183258823820099.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-597183258823820099.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-597183258823820099 .gp-absolute{position:absolute}.gps-597183258823820099 .gp-relative{position:relative}.gps-597183258823820099 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-597183258823820099 .gp-mb-0{margin-bottom:0}.gps-597183258823820099 .\!gp-block{display:block!important}.gps-597183258823820099 .gp-flex{display:flex}.gps-597183258823820099 .gp-grid{display:grid}.gps-597183258823820099 .\!gp-hidden{display:none!important}.gps-597183258823820099 .gp-hidden{display:none}.gps-597183258823820099 .gp-h-full{height:100%}.gps-597183258823820099 .gp-w-full{width:100%}.gps-597183258823820099 .gp-max-w-full{max-width:100%}.gps-597183258823820099 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-597183258823820099 .gp-flex-col{flex-direction:column}.gps-597183258823820099 .gp-overflow-hidden{overflow:hidden}.gps-597183258823820099 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597183258823820099 .gp-duration-200{transition-duration:.2s}.gps-597183258823820099 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-597183258823820099 .tablet\:\!gp-hidden{display:none!important}.gps-597183258823820099 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-597183258823820099 .mobile\:\!gp-hidden{display:none!important}.gps-597183258823820099 .mobile\:gp-hidden{display:none}}.gps-597183258823820099 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A99d.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyAjBN9d.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v42/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyAaBN9d.ttf) format('truetype');
}


@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v31/iJWZBXyIfDnIV5PNhY1KTN7Z-Yh-WYi1UA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"video","video":"https://www.youtube.com/watch?v=drIt4RH_kyQ","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/6605e0db002d41898486375c7b607421.mp4","videoType":"html5"}},"uid":"gbXkqvq86J"}' data-id="gbXkqvq86J" id="gbXkqvq86J" data-same-height-subgrid-container class="gbXkqvq86J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pb:100px;--pt-mobile:40px;--pb-mobile:40px;--pt-tablet:100px;--pb-tablet:100px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      
          <div class="gp-background-video gp-absolute gp-overflow-hidden gp-w-full gp-h-full left-0 top-0 !gp-block" style="--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bblr-tablet:0px;--bbrr-tablet:0px;--btlr-tablet:0px;--btrr-tablet:0px;--hvr-bblr-tablet:0px;--hvr-bbrr-tablet:0px;--hvr-btlr-tablet:0px;--hvr-btrr-tablet:0px;--focus-bblr-tablet:0px;--focus-bbrr-tablet:0px;--focus-btlr-tablet:0px;--focus-btrr-tablet:0px;-undefined-bblr-tablet:0px;-undefined-bbrr-tablet:0px;-undefined-btlr-tablet:0px;-undefined-btrr-tablet:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--hvr-bblr-mobile:0px;--hvr-bbrr-mobile:0px;--hvr-btlr-mobile:0px;--hvr-btrr-mobile:0px;--focus-bblr-mobile:0px;--focus-bbrr-mobile:0px;--focus-btlr-mobile:0px;--focus-btrr-mobile:0px;-undefined-bblr-mobile:0px;-undefined-bbrr-mobile:0px;-undefined-btlr-mobile:0px;-undefined-btrr-mobile:0px">
            <div class="gp-bg-video gp-relative gp-h-full">
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gbXkqvq86J" title="Video" preload="metadata" data-src poster data-poster
      style="--aspect:16/9;pointer-events:none;transform:translateY(-50%);height:100%;object-fit:cover;top:50%"
      class="gp-w-full gp-relative gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  </div>
          </div>
        

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdl6dIFfQT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(30, 45, 36, 0.9)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8uNWTJ1pc"}' data-id="g8uNWTJ1pc" id="g8uNWTJ1pc" data-same-height-subgrid-container class="g8uNWTJ1pc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1000px;--h:auto;--bgc:rgba(30, 45, 36, 0.9);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTk5MDBSXG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEn672flxD"
        class="gEn672flxD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Noto-Sans, 'Noto Sans'), var(--g-font-heading, heading);--weight:600;--size:32px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEn672flxD_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUdJO3c1mc"
        class="gUdJO3c1mc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Rubik, 'Rubik'), var(--g-font-body, body);--weight:300;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUdJO3c1mc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-row-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-597183258823820099 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/kj1xhp-yy/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=597183258823754563&sectionId=597183258823820099)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEn672flxD_text","label":"ggEn672flxD_text","default":"7 REASONS WHY WALTER COOKWARE IS REVOLUTLZONG KITCHENS"},{"type":"html","id":"ggUdJO3c1mc_text","label":"ggUdJO3c1mc_text","default":"<p>Tired of having to throw out chipped, sticky, and compromised your health cookware? Discover why thousands of home cooks are upgrading to Walter Cookware's premium titanium sets and lifetime quality.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}